.comboBtn-size-v-xs {

    height: var(--size-xs);

    .comboBtn__text {

        font-size: var(--font-size-xs);
    }

    .comboBtn__icon {

        width: var(--icon-size-xs);
    }
}

@mixin comboBtn-size-v-s {

    height: var(--size-s);

    .comboBtn__text {

        font-size: var(--font-size-s);
    }

    .comboBtn__icon {

        width: var(--icon-size-s);
    }
}

.comboBtn-size-v-m {

    height: var(--size-m);

    .comboBtn__text {

        font-size: var(--font-size-m);
    }

    .comboBtn__icon {

        width: var(--icon-size-m);
    }
}

.comboBtn-size-v-l {

    height: var(--size-l);

    .comboBtn__text {

        font-size: var(--font-size-l);
    }

    .comboBtn__icon {

        width: var(--icon-size-l);
    }
}

.comboBtn-size-v-xl {

    height: var(--size-xl);

    .comboBtn__text {

        font-size: var(--font-size-xl);
    }

    .comboBtn__icon {

        width: var(--icon-size-xl);
    }
}
