:root {

    --font-size-xxs:    .5rem;
    --font-size-xs:     .7rem;
    --font-size-s:      1rem;
    --font-size-m:      1.4rem;
    --font-size-l:      2rem;
    --font-size-xl:     2.55rem;
    --font-size-xxl:    3rem;

    --primary-color-a-d2:   rgb(19, 38, 63);
    --primary-color-a-d1:   rgb(3, 103, 166);
    --primary-color-a:      rgb(41, 135, 217);
    --primary-color-a-w1:   rgb(87, 183, 242);
    --primary-color-a-w2:   rgb(0, 0, 0);

    --primary-color-b-d2:   rgb(0, 0, 0);
    --primary-color-b-d1:   rgb(0, 0, 0);
    --primary-color-b:      rgb(0, 0, 0);
    --primary-color-b-w1:   rgb(0, 0, 0);
    --primary-color-b-w2:   rgb(0, 0, 0);

    --primary-color-c-d2:   rgb(0, 0, 0);
    --primary-color-c-d1:   rgb(0, 0, 0);
    --primary-color-c:      rgb(0, 0, 0);
    --primary-color-c-w1:   rgb(0, 0, 0);
    --primary-color-c-w2:   rgb(0, 0, 0);

    --secondary-color-a-d2: rgb(0, 0, 0);
    --secondary-color-a-d1: rgb(0, 0, 0);
    --secondary-color-a:    rgb(217, 137, 108);
    --secondary-color-a-w1: rgb(0, 0, 0);
    --secondary-color-a-w2: rgb(0, 0, 0);

    --secondary-color-b-d2: rgb(0, 0, 0);
    --secondary-color-b-d1: rgb(0, 0, 0);
    --secondary-color-b:    rgb(0, 0, 0);
    --secondary-color-b-w1: rgb(0, 0, 0);
    --secondary-color-b-w2: rgb(0, 0, 0);

    --secondary-color-c-d2: rgb(0, 0, 0);
    --secondary-color-c-d1: rgb(0, 0, 0);
    --secondary-color-c:    rgb(0, 0, 0);
    --secondary-color-c-w1: rgb(0, 0, 0);
    --secondary-color-c-w2: rgb(0, 0, 0);

    --gray-color-1: rgb(255, 255, 255);
    --gray-color-2: rgb(220, 220, 220);
    --gray-color-3: rgb(0, 0, 0);
    --gray-color-4: rgb(0, 0, 0);
    --gray-color-5: rgb(0, 0, 0);

    --transition-duration-1: .125s;
    --transition-duration-2: .25s;
    --transition-duration-3: .5s;
    --transition-duration-4: 1s;
    --transition-duration-5: 2s;
}
