@import "../../../mixin";


@mixin btn-border-color-hover-v-none {


}

.btn-border-color-hover-v-primary:hover {

    border: 1px solid var(--primary-color-a)
}

.btn-border-color-hover-v-secondary:hover {

    border: 1px solid var(--secondary-color-a)
}

.btn-border-color-hover-v-light:hover {

    border: 1px solid var(--gray-color-1)
}

.btn-border-color-hover-v-dark:hover {

    border: 1px solid var(--gray-color-5)
}

.btn-border-color-hover-v-glass:hover {

    @include glassmorphism-edges();
}
